p{ background-color: chocolate;font-family: cursive;text-align: center;

font-weight: bold;padding: 2px;margin: auto;border: 5px solid red;




}

.bal{ color: aqua ; font-size: 20px;}


h1{ color: aqua;}














